<!-- catalog_page.html -->

{% extends "main/_base.html" %}


{% block content %}
{% include './components/_header.html' %}
       
<div class="container mx-auto flex-1 p-4 my-10">

    <!-- Первый ряд карточек -->
    <div class="grid grid-cols-5 gap-4 mb-6">
        <div class="bg-neutral-800 rounded-lg shadow-md">
            <h2 class="text-xl font-semibold p-4 text-center">Категория 1</h2>
            <img class="h-40 w-full object-cover rounded-b-lg" src="https://via.placeholder.com/300x150" alt="Категория 1">
        </div>
        <div class="bg-neutral-800 rounded-lg shadow-md">
            <h2 class="text-xl font-semibold p-4 text-center">Категория 2</h2>
            <img class="h-40 w-full object-cover rounded-b-lg" src="https://via.placeholder.com/300x150" alt="Категория 2">
        </div>
        <div class="bg-neutral-800 rounded-lg shadow-md">
            <h2 class="text-xl font-semibold p-4 text-center">Категория 3</h2>
            <img class="h-40 w-full object-cover rounded-b-lg" src="https://via.placeholder.com/300x150" alt="Категория 3">
        </div>
        <div class="bg-neutral-800 rounded-lg shadow-md">
            <h2 class="text-xl font-semibold p-4 text-center">Категория 4</h2>
            <img class="h-40 w-full object-cover rounded-b-lg" src="https://via.placeholder.com/300x150" alt="Категория 4">
        </div>
        <div class="bg-neutral-800 rounded-lg shadow-md">
            <h2 class="text-xl font-semibold p-4 text-center">Категория 5</h2>
            <img class="h-40 w-full object-cover rounded-b-lg" src="https://via.placeholder.com/300x150" alt="Категория 5">
        </div>
    </div>

    <!-- Второй ряд карточек -->
    <div class="grid grid-cols-5 gap-4 mb-6">
        <div class="bg-neutral-800 rounded-lg shadow-md">
            <h2 class="text-xl font-semibold p-4 text-center">Категория 7</h2>
            <img class="h-40 w-full object-cover rounded-b-lg" src="https://via.placeholder.com/300x150" alt="Категория 7">
        </div>
        <div class="bg-neutral-800 rounded-lg shadow-md">
            <h2 class="text-xl font-semibold p-4 text-center">Категория 8</h2>
            <img class="h-40 w-full object-cover rounded-b-lg" src="https://via.placeholder.com/300x150" alt="Категория 8">
        </div>
        <div class="bg-neutral-800 rounded-lg shadow-md">
            <h2 class="text-xl font-semibold p-4 text-center">Категория 9</h2>
            <img class="h-40 w-full object-cover rounded-b-lg" src="https://via.placeholder.com/300x150" alt="Категория 9">
        </div>
        <div class="bg-neutral-800 rounded-lg shadow-md">
            <h2 class="text-xl font-semibold p-4 text-center">Категория 10</h2>
            <img class="h-40 w-full object-cover rounded-b-lg" src="https://via.placeholder.com/300x150" alt="Категория 10">
        </div>
        <div class="bg-neutral-800 rounded-lg shadow-md">
            <h2 class="text-xl font-semibold p-4 text-center">Категория 11</h2>
            <img class="h-40 w-full object-cover rounded-b-lg" src="https://via.placeholder.com/300x150" alt="Категория 11">
        </div>
    </div>

    <!-- Третий ряд карточек -->
    <div class="grid grid-cols-5 gap-4 mb-6">
        <div class="bg-neutral-800 rounded-lg shadow-md">
            <h2 class="text-xl font-semibold p-4 text-center">Категория 13</h2>
            <img class="h-40 w-full object-cover rounded-b-lg" src="https://via.placeholder.com/300x150" alt="Категория 13">
        </div>
        <div class="bg-neutral-800 rounded-lg shadow-md">
            <h2 class="text-xl font-semibold p-4 text-center">Категория 14</h2>
            <img class="h-40 w-full object-cover rounded-b-lg" src="https://via.placeholder.com/300x150" alt="Категория 14">
        </div>
        <div class="bg-neutral-800 rounded-lg shadow-md">
            <h2 class="text-xl font-semibold p-4 text-center">Категория 15</h2>
            <img class="h-40 w-full object-cover rounded-b-lg" src="https://via.placeholder.com/300x150" alt="Категория 15">
        </div>
        <div class="bg-neutral-800 rounded-lg shadow-md">
            <h2 class="text-xl font-semibold p-4 text-center">Категория 16</h2>
            <img class="h-40 w-full object-cover rounded-b-lg" src="https://via.placeholder.com/300x150" alt="Категория 16">
        </div>
        <div class="bg-neutral-800 rounded-lg shadow-md">
            <h2 class="text-xl font-semibold p-4 text-center">Категория 17</h2>
            <img class="h-40 w-full object-cover rounded-b-lg" src="https://via.placeholder.com/300x150" alt="Категория 17">
        </div>
    </div>
</div>

{% include './components/_footer.html' %}
{% endblock content %}