<!-- templates/main/index.html -->

{% extends "main/_base.html" %}


{% block header %}
<header class="border-b-2 border-red-800 font-semibold">
  <div class="m-auto w-4/6 flex justify-between items-center py-6">
    <div>
      <h2 class="text-xl">MovieDB</h2>
    </div>

    <ul class="flex gap-8 px-10">
      <li class="text-red-700 pointer-events-none">
        <a href="{% url "main:index" %}">Главная</a>
      </li>
      <li class="hover:text-red-600">
        <a href="{% url "main:catalog" %}">Каталог</a>
      </li>
      <li class="hover:text-red-600">
        <a href="{% url "main:search" %}">Поиск</a>
      </li>
      <li class="hover:text-red-600">
        <a href="{% url "main:users" %}">Пользователи</a>
      </li>
    </ul>

    <ul class="flex gap-8">
      <li class="hover:text-red-600">
        <a href="/sign-in">Войти</a>
      </li>
      <li class="hover:text-red-600">
        <a href="/profile">Профиль</a>
      </li>
    </ul>
  </div>
</header>
{% endblock header %}

{% block content %}
<main class="w-2/3 m-auto grid grid-cols-6 gap-4 mt-14 mb-10">
  

{% for movie in movies %}
<div class="shadow-xl hover:-translate-y-1 cursor-pointer text-black">
  <a href="{% url "main:details" movie_id=movie.id %}"><img class="rounded-lg" src="{{ movie.poster_url.url }}" alt="poster" /></a>
</div>
{% endfor %}

</main>

<!-- Pagination -->
<div class="mx-auto">
  <ul class="flex gap-1 select-none">
    
    <li>
      {% if not movies.has_previous %}
      <span class="block h-8 w-20 bg-background-black text-red-700 text-center leading-8 rounded-sm">Назад</span>
      {% else %}
      <a class="block h-8 w-20 bg-background-black text-white text-center leading-8 rounded-sm hover:bg-zinc-800 cursor-pointer" 
      href="?page={{ movies.previous_page_number }}">Назад</a>
      {% endif %}
    </li>

    {% for page in movies.paginator.page_range %}
    {% if page >= movies.number|add:-2 and page <= movies.number|add:2 %}
    <li>
      <a class="{% if movies.number == page %} bg-red-900 pointer-events-none
      {% else %} bg-background-black hover:bg-zinc-800 cursor-pointer{% endif %}
      block size-8 text-white text-center leading-8 rounded-sm"
      href="?page={{page}}">{{page}}</a>
    </li>
    {% endif %}
    {% endfor %}

    <li class="select-none">
      {% if not movies.has_next %}
      <span class="block h-8 w-28 bg-background-black text-red-700 text-center leading-8 rounded-sm">Следующая</span>
      {% else %}
      <a class="block h-8 w-28 bg-background-black text-white text-center leading-8 rounded-sm hover:bg-zinc-800 cursor-pointer" 
      href="?page={{ movies.next_page_number }}">Следующая</a>
      {% endif %}
    </li>

  </ul>
</div>

{% endblock content %}

{% block footer %}
<footer class="flex mt-10 border-t-2 border-red-800 font-semibold">
  <div class="flex py-3 mr-10 ml-auto items-center gap-2 text-slate-300 cursor-pointer hover:text-red-600 text-lg">
    <div class="h-6 w-6 items-center">
      {% comment %} <a href="https://github.com/wladd-tech"
        ><img src="/icons/gitHub.svg" alt="github link"
      /></a> {% endcomment %}
    </div>
    <p><a href="https://github.com/wladd-tech">github/wladd-tech</a></p>
  </div>
</footer>
{% endblock footer %}